@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Produce Management site.</h1>
    <p></p>
</div>
<div class="text-center">
    <h1 class="display-4">Produce Tab</h1>
    <p>Please click produce next to home in the menu bar at the top. </p>
    <p>Success and Delete actions will appear in a notification at the top. </p>
    <p>Any validation errors are in an info colored panel. </p>
</div>